<h1>{{ title }}</h1>
<h2>Hora atual: </h2>
<h3 *ngIf="jaENoite()">Boa noite</h3>
<h3 *ngIf="jaETarde()">Boa tarde</h3>
<h3 *ngIf="jaEDia()">Bom dia</h3>

<hr />
<h1>Nome das pessoas:</h1>
<h3 *ngFor="let nome of nomes">
    {{ nome }}
</h3>

<button (click)="aoClicarNoBotao()">Incrementar</button>
<p>valor atual: {{ valorAtual }}</p>

<input 
    type="text" 
    placeholder="Informe o seu nome" 
    [(ngModel)]="nomePessoa" 
/>

<h2>O nome digitado foi: {{ nomePessoa }} </h2>


<hr />
<a routerLink="test2/gabriel">Link para o teste2</a>